<mat-card class="w-80 p-3 transition hover:scale-[1.01]"
style="border-radius: 30px !important;"
[style.backgroundColor]="item.backgroundColor"
[style.boxShadow]="'10px 10px' + item.borderShadowColor"
>
  <mat-card-header class="justify-between relative" [style.textShadow]="item.textShadow">
    <mat-card-title class="max-w-52 cursor-pointer capitalize"><a [routerLink]="[item.id]" [style.color]="item.textColor" class="hover:!text-blue-500 transition">{{ item.name }}</a></mat-card-title>
    <mat-card-subtitle class="max-w-52 italic capitalize text-inherit" [style.color]="item.textColor">{{ item.category }}</mat-card-subtitle>
    <mat-card-actions class="flex gap-2 absolute right-0">
      <a [routerLink]="['edit/', item.id]"><mat-icon class="hover:!text-blue-500 transition cursor-pointer" [style.color]="item.textColor">edit</mat-icon></a>
      <mat-icon class="hover:!text-red-500 transition cursor-pointer" [style.color]="item.textColor" (click)="openModalConfirmDeletion()">delete</mat-icon>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <p class="text-justify" [style.color]="item.textColor">{{ item.description }}</p>
    @if (item?.limitDate) {
      <p class="w-full text-end mt-3 text-sm" [style.color]="item.textColor">{{ item?.limitDate | date: 'dd/MM/YY' }}</p>
    }
  </mat-card-content>
</mat-card>
