<div class="w-full flex justify-end p-5">
  <mat-icon mat-dialog-close class="cursor-pointer">close</mat-icon>
</div>

<mat-dialog-content>
  <div class="w-full flex justify-center mb-4">
    <mat-icon>info</mat-icon>
  </div>
  <h4 class="w-full text-center mb-6 text-2xl font-bold">TERMOS DE USO</h4>
  <p>Bem-vindo(a) ao nosso site!</p>

  <p class="py-4 text-justify">
    Este site foi desenvolvido como um projeto pessoal/hobby, sem fins
    comerciais. No entanto, para fins de cadastro e funcionamento básico,
    algumas informações pessoais são coletadas e armazenadas. Garantimos o
    compromisso com a privacidade e segurança dos dados fornecidos pelos
    usuários, mas fique à vontade para utilizar dados de teste se preferir.
  </p>

  <ol class="flex flex-col gap-3 list-decimal pl-6">
    <li class="text-justify">
      <p class="font-bold">Uso do Serviço</p>
      Este site é disponibilizado "como está" e foi criado exclusivamente para
      fins educativos e experimentais. Embora esforços tenham sido feitos para
      garantir sua segurança, não há garantias de disponibilidade ou suporte
      técnico.
    </li>
    <li class="text-justify">
      <p class="font-bold">Propriedade Intelectual</p>
      Todo o conteúdo deste site foi desenvolvido como parte de um projeto
      pessoal. O uso é permitido para fins educacionais ou não comerciais, mas
      pedimos que reconheça o autor caso decida reproduzir algo.
    </li>
    <li class="text-justify">
      <p class="font-bold">Isenção de Responsabilidade</p>
      O criador do site não se responsabiliza por quaisquer danos, perdas ou
      inconvenientes decorrentes do uso do site.
    </li>
  </ol>

  <h4 class="w-full text-center my-6 text-2xl font-bold">
    POLÍTICA DE PRIVACIDADE
  </h4>

  <ol class="flex flex-col gap-3 list-decimal pl-6">
    <li class="text-justify">
      <p class="font-bold">Coleta de Dados</p>
      Durante o cadastro, o site coleta informações pessoais, como nome e
      endereço de e-mail, que são necessárias para gerenciar o acesso ao
      sistema.
    </li>
    <li class="text-justify">
      <p class="font-bold">Armazenamento de Dados</p>
      Os dados fornecidos pelos usuários são armazenados de forma segura no
      Firestore, uma plataforma de banco de dados mantida pelo Google, que segue
      altos padrões de segurança.
    </li>
    <li class="text-justify">
      <p class="font-bold">Uso de Dados</p>
      Os dados coletados são utilizados exclusivamente para o funcionamento
      básico do site. Não há qualquer finalidade comercial ou compartilhamento
      com terceiros.
    </li>
    <li class="text-justify">
      <p class="font-bold">Segurança de Dados</p>
      Foram implementadas medidas técnicas para proteger os dados armazenados.
      No entanto, é importante lembrar que nenhuma transmissão de dados pela
      internet é completamente segura.
    </li>
    <li class="text-justify">
      <p class="font-bold">Solicitações dos Usuários</p>
      Caso deseje excluir seus dados ou obter mais informações sobre o
      armazenamento, entre em contato pelo e-mail:
      <a
        class="text-blue-700"
        href="mailto:willnaresse@gmail.com?subject=Contato%20sobre%20VZinho&body=Olá,%20gostaria%20de%20esclarecer%20uma%20dúvida."
        >willnaresse&#64;gmail.com</a
      >.
    </li>
    <li class="text-justify">
      <p class="font-bold">Finalidade do Projeto</p>
      Reiteramos que este site foi criado como um projeto experimental e não
      possui fins lucrativos.
    </li>
  </ol>
</mat-dialog-content>
<div class="flex justify-center p-5 bg-gray-100">
  <button mat-flat-button class="w-6/12" mat-dialog-close>
    Fechar
  </button>
</div>
